.form {
  padding: 0 0 0 3rem;
}
.planet-select,
.heading2 {
  font-size: 4rem;
  font-weight: normal;
  display: block;
  margin: 3rem 0 1rem 0; 
}
select {
  font-family: var(--ErnRegular);
  font-size: 3rem;
  color: var(--secondaryblue);
  background-color: var(--grey);
}
.input {
  font-size: 2rem;
  color: var(--darkblue);
  background-color: var(--grey);
  border: none;
  margin: 0 1rem 1rem 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2.5rem 0;
}
.coords {
  font-size: 3.5rem;
}
