.button {
  font-size: 3rem;
  font-family: var(--ErnRegular);
  color: var(--lightblue);
  background-color: var(--lightpink);
  border: none;
  border-radius: 15px;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #b38faf;
  transition-duration: 0.5s;
}
