.container {
  padding: 12rem 0 0 0;
}
.heading2 {
  font-size: 6rem;
  font-family: var(--ErnBold);
  font-weight: normal;
  text-align: center;
  margin: 1rem 0 0 0;
}
.result-card-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 6rem 0;
}
.heading3 {
  font-size: 5rem;
  font-weight: normal;
  display: inline;
  margin: 0 1rem 0 2rem;
}
.result-description {
    font-size: 2.2rem;
  margin: 1.5rem 3rem 0 2rem;
}
.degrees {
  font-size: 5rem;
  display: inline;
}
.altitude-svg-container {
  display: inline;
}
.altitude-svg {
  width: 30rem;
  margin: 0 3rem 0 0;
}
.compass-svg-container {
  display: inline;
  margin: 0 3rem 0 0;
}
.compass-svg {
  width: 40rem;
}