.find-container {
  width: 75%;
  /* height: 100vh; */
  background-color: var(--secondaryblue);
  margin: 0 auto;
}
.heading1 {
  /* color: var(--lightpink); */
  font-family: var(--ErnRegular);
  font-size: 5rem;
  margin: 0 0 3rem 0;
  padding: 12rem 0 0 0;
  text-align: center;
}
