.find-body-container {
  width: 75%;
  height: 100vh;
  background-color: var(--secondaryblue);
  margin: 0 auto;
  overflow: auto;
}
.heading1 {
  /* color: var(--lightpink); */
  font-family: var(--ErnRegular);
  font-size: 5rem;
  font-weight: normal;
  margin: 0 0 3rem 0;
  padding: 12rem 0 0 0;
  text-align: center;
}
.mars-weather {
  padding: 5rem;
  width: 90%;
  height: 66rem;
}