@font-face {
  font-family: "ErnestinePro";
  src: url(/Fonts/ErnestinePro.otf);
}
@font-face {
  font-family: "ErnestinePro-Bold";
  src: url(/Fonts/ErnestinePro-Bold.otf);
}
@font-face {
  font-family: "ErnestinePro-BoldItalic";
  src: url(/Fonts/ErnestinePro-BoldItalic.otf);
}
@font-face {
  font-family: "ErnestinePro-DemiboldItalic";
  src: url(/Fonts/ErnestinePro-DemiboldItalic.otf);
}

:root {
  --ErnRegular: "ErnestinePro";
  --ErnBold: "ErnestinePro-Bold";
  --ErnBoldItalic: "ErnestinePro-BoldItalic";
  --ErnDemiBoldItalic: "ErnestinePro-DemiboldItalic";
  --darkblue: #151643;
  --grey: #E0CED4;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--ErnRegular), BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--darkblue);
  color: var(--grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
